<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <meta name="author" content="{{config.editor}}">
  <meta name="description" content="{{config.title}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{config.title}} {% block title %}{% endblock %}</title>
  <link rel="alternate" href="/atom" type="application/xml">
  <link rel="shortcut icon" href="static/favicon.ico">
  <link rel="stylesheet" href="http://cdn.dinoia.eu/bootstrap.min.css" type="text/css">
  {% include 'common/style.html' %}
</head>

<body>
{% include "blog/navbar.html" %}
<div class="container-narrow">
{% block content %}
{% endblock %}
</div>
</body>
</html>

