<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container-narrow">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <a class="brand" href="/">{{config.title}}</a>
  <ul class="nav">
    <li><a href="/blog/">blog</a></li>
    <li><a href="/blog/tags/">tags</a></li>
    <li><a href="/blog/atom">feed</a></li>
  </ul>

  <div class="nav-collapse">
    <ul class="nav pull-right">
      {% if admin %}
      <li><a href="/blog/admin/drafts">drafts</a></li>
      <li><a href="/blog/admin/new">new</a></li>
      {% endif %}
      <li><a href="{{ url }}">{{ linktext }}</a></li>
    </ul>
  </div>
</div>
</div>
</div>