{% extends "base.html" %}
{% block content %}
<div class="container-narrow">
<div class="row-fluid">
<div class=" well">
  <div class="row-fluid">
  <form action="/admin/creatorneo" class="form-inline" method="post">
    <input type="text" class="input-medium" name="anno" placeholder="anno">
    <input type="text" class="input-medium" name="numero" placeholder="numero">
    <input type="text" class="input-medium" name="organiz" placeholder="organizzazione">
    <button type="submit" class="btn">crea torneo</button>
  </form>
  </div>
</div>
</div>
</div>
{% endblock %}