{% extends "common/base.html" %}
{% block content %}
<div class="container-narrow">
<div class="row-fluid">
<div class="well">
  <table class="table table-condensed">
    <tbody>
    {% for i in tornei %}
    <tr>
      <td>{{i.organiz}} - {{i.anno}} - match: {{i.disputati}}/{{i.match_set.count()}}</td>
      <td>
        <a class="btn btn-link" href="/t?id={{i.key.id()}}" >
        <i class="icon-calendar"></i> Giornate</a>
      </td>
      <td>
        <a class="btn btn-link" href="/c?id={{i.key.id()}}" >
        <i class="icon-tasks"></i> Classifica</a>
      </td>
      <td>
        <a class="btn btn-link" href="/k?id={{i.key.id()}}" >
        <i class="icon-user"></i> Tennisti</a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>

<div class="row-fluid">
<div class="span6 well">
  <table class="table table-condensed">
    <thead>
      <tr>
        <td>bacheca - <a href="/bacheca/atom">feed</a></td>
        {% if admin %}
        <td class="text-right">
          <a href="/bacheca/admin/" >bozze</a> -
          <a href="/bacheca/admin/new" >nuovo</a>
        </td>
        {% endif %}
      </tr>
    </thead>
  <tbody>
    {% for p in posts %}
    <tr><td colspan="2"><a href="/bacheca/post/{{p.id}}">{{p.title|truncate(30)}}</a></td></tr>
    {% endfor %}
    {% set n_posts = 11 - posts|length %}
    {%- for column in items|slice(n_posts) %}
    <tr style="visibility:hidden"> <td colspan="2">-</td> </tr>
    {%- endfor %}
  </tbody>
  </table>
</div>
<div class="span6 well">
  <label>dai campi..</label>
  <table class="table table-condensed">
  <tbody>
    {% for m in matchs %}
    <tr>
      <td>{{m.incasa.get().squadra}}</td>
      <td>{{m.ospite.get().squadra}}</td>
      <td>{{m.incasa1}} - {{m.ospite1}}</td>
      <td>{{m.incasa2}} - {{m.ospite2}}</td>
    </tr>
    {% endfor %}
    {% set n_matchs = 11 - matchs|length %}
    {%- for column in items|slice(n_matchs) %}
    <tr style="visibility:hidden"> <td colspan="4">-</td> </tr>
    {%- endfor %}
  </tbody>
  </table>
</div>
</div>

{% if admin %}
<div class="row-fluid">
<div class="well">
  <form action="/admin/creatorneo" class="form-inline" method="post">
    <input type="text" class="input-medium" name="anno" placeholder="anno">
    <input type="text" class="input-medium" name="numero" placeholder="numero">
    <input type="text" class="input-medium" name="organiz" placeholder="organizzazione">
    <button type="submit" class="btn">crea torneo</button>
  </form>
</div>
</div>
{% endif %}

</div><!-- container-narrow -->
{% endblock %}
