{% extends "base.html" %}
{% block mynav %} {% include 'mynav.html' %} {% endblock %}
{% block content %}
<div class="container-narrow">
<div class="row-fluid ">
  <table class="table table-condensed">
    <caption><b>{{tu.nome}} ({{tu.squadra}})</b></caption>
    <thead>
    <tr>
      <th>Squadra</th>
      <th>Nome</th>
      <th>tel</th>
      <th>Andata</th>
      <th>Ritorno</th>
    </tr>
    </thead>
    <tbody>
    {% for g in t.andata %}
    {% set m, avv = g.avversario(tu) %}
      <td><b>{{avv.squadra}}</b></td>
      <td>{{avv.nome}}</td>
      <td>{{avv.telefono}}</td>
    {% set respa, colora = m.responso(tu) %}
      <td class="text-{{colora}}" >{{respa}}</td>
    {% set respb, colorb = m.ritorno.responso(tu) %}
      <td class="text-{{colorb}}" >{{respb}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}