{% extends "base.html" %}
{% block mynav %} {% include 'mynav.html' %} {% endblock %}
{% block content %}
<div class="container-narrow">
<div class="row-fluid">
<table class="table table-condensed">
<caption><b>Partecipanti al torneo</b></caption>
  <thead>
  <tr>
    <th>Squadra</th><th>Nome</th><th>Telefono</th><th>email</th><th>Punti</th><th>azioni</th>
  </tr>
  </thead>
  <tbody>
  {% for ten in t.tennisti_set %}
  <tr>
    <form action="/edit_t?id={{ ten.key.id() }}" class="form-inline" method="POST" >
    <td><input type="text" value="{{ten.squadra}}" class="input input-small" name="squadra" allowBlank="true"></td>
    <td><input type="text" value="{{ten.nome}}" class="input input-medium" name="nome" allowBlank="true"></td>
    <td><input type="text" value="{{ten.telefono}}" class="input input-small" name="telefono" allowBlank="true"></td>
    <td><input type="text" value="{{ten.email}}" class="input input-medium" name="email" allowBlank="true"></td>
    <td>{{t.punti}}</td>
    <td><button type="submit" class="btn"><i class="icon-ok"></i></button></td>
    </form>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock %}
