{% extends "base.html" %}
{% block content %}
<div class="container-narrow">
<div class="row-fluid">
  <div class="lead text-success">{{p.title}}</div>
  <div>{{p.content}}</div>
  {% if p.href and p.href != 'None' %}
  <small>via {{p.href|urlize(60)}}</small>
  {% endif %}
  <div>{% include "/bacheca/controls.html" %}</div>
  {% if p.comments.get() %}
  <hr>
  {% for c in p.comments %}
  <p>
    <a href="{{c.url}}" class="text-success"><b>{{c.name}}</b></a> <small>{{ c.create|dtf }}</small>
  </p>
  <p>{{c.comment}}</p>
  {% endfor %}
  {% endif %}
</div>
<hr>
<div class="row-fluid">
  <form method="post" action="/bacheca/comment/{{p.id}}" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="name">nome</label>
      <div class="controls">
        <input type="text" name="name" value="nome" class="input-block-level">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="comment">commento</label>
      <div class="controls">
        <textarea rows="3" name="comment" class="input-block-level"></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
         <button type="submit" class="btn pull-right">invia</button>
      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}
{% block title %} · {{p.title}} {% endblock %}