{% extends "base.html" %}
{% block content %}
<div class="container-narrow">

<div class="row-fluid">
  {% for p in posts %}
  <div class="lead text-success"><a href="/bacheca/post/{{p.id}}">{{p.title|truncate(60)}}</a></div>
  <div>{{p.content|truncate(300, end='...')}}</div>
  <div>{% include "/bacheca/controls.html" %}</div>
  <hr>
  {% endfor %}
</div>
{% if c %}
<div class="well well-small">
  <a class="btn btn-block" href="?c={{c}}" type="button">more...</a>
</div>
{% endif %}

</div><!-- container-narrow -->
{% endblock %}